@use './colors' as *;

@mixin burgerBtn {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: $pure-white;
	transition: width 0.3s;
}

@mixin heroImages($bgImg, $bgOverlay: null) {
	background-image: $bgOverlay, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@mixin islandsCardStyles() {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

// Mixin for the animated scroll arrow
@mixin scroll-animation {
	display: block;
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 3rem;
	color: $light-white;
	transition: color 0.3s ease-in-out;
	animation: bounce-top 2.2s infinite both;

	&:hover {
		color: $main-color;
	}

	@keyframes bounce-top {
		0% {
			transform: translateX(-50%) translateY(-25px);
			transform-origin: center bottom;
			animation-timing-function: ease-in;
		}
		25% {
			transform: translateX(-50%) translateY(-25px);
			transform-origin: center bottom;
			animation-timing-function: ease-in;
		}
		50% {
			transform: translateX(-50%) translateY(0);
			transform-origin: center bottom;
			animation-timing-function: ease-out;
		}
		75% {
			transform: translateX(-50%) translateY(-25px);
			transform-origin: center bottom;
			animation-timing-function: ease-out;
		}
		100% {
			transform: translateX(-50%) translateY(-25px);
			transform-origin: center bottom;
			animation-timing-function: ease-out;
		}
	}
}

@mixin backgroundkWaves {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'><path fill='%23fff' d='M0,32L40,58.7C80,85,160,139,240,149.3C320,160,400,128,480,128C560,128,640,160,720,165.3C800,171,880,149,960,138.7C1040,128,1120,128,1200,149.3C1280,171,1360,213,1400,234.7L1440,256L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z'/></svg>")
		no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin contactForm {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
}
